.banner {
  background-image: linear-gradient(
      rgba(5, 25, 99, 0.6),
      rgba(72, 81, 112, 0.6)
    ),
    url("/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Review.css */

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background: var(--primary-grey) !important;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-brand) !important;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px;
}
