@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-background: #f5f7ff;
  --secondary-background: #e6eaf8;
  --primary-text: #1e2749;
  --secondary-text: #3a4674;
  --primary-grey: #5d6b93;
  --secondary-grey: #8794b8;

  --primary-brand: #FFBD0C;
  /* --secondary-brand: #6d7bff; */

  --success-color: #2ecc71;
  --error-color: #ff4757;
  --warning-color: #ffa700;
  --info-color: #FFBD0C;
}
.dark:root {
  --primary-white: #0f1729;
  --primary-background: #162036;
  --secondary-background: #1e2946;
  --primary-text: #e6eaf8;
  --secondary-text: #c2cae3;
  --primary-grey: #7484a8;
  --secondary-grey: #5d6b93;

  --primary-brand: #6d7bff;
  --secondary-brand: #8a97ff;

  --success-color: #48dbfb;
  --error-color: #ff6b6b;
  --warning-color: #ffd700;
  --info-color: #6d7bff;
}
